*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: #1a1a1a;
    width:100%;
    height: 100%;
    font-family:monospace, "monoid";
    height: 80vh;

}

/*start of score menu*/
#box{
    display: none;
   
    
    
    
}
.welcomeBox{
   
    background: linear-gradient(#f35058,#1a1a1a);
    height: 15rem;
    width: 30rem;
    border-radius: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    
    

}
.welcomeBox:hover{
    border-style: solid;

}
.welcome{
    margin:0;
    padding:0;
    position: absolute;
}

.welcomeBox h1{
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 24px;
    margin-top: 1rem;
    
    
    
}

.welcomeInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.playQuiz{
position: relative;
align-items: center;
    display: flex;
     align-items: center;
     justify-content: center;
     height: 15rem;
     

}

.t{
    position: absolute;
    bottom:0%;

}

button{
    width:8rem;
    height: 2.5rem;
    border-radius: 50px;
    
    font-size: 18px;
    border-style: none;
    cursor: pointer;
    

}
button:hover{
    border-style: solid;
    
}

/* end of score menu */


/*Started Quiz */
/* new box  */
#quizBox{
    background: linear-gradient(#f35058,#1a1a1a);
    height: 40rem;
    width: 30rem;
    border-radius: 50px;
    margin: auto;
   
    
    
    
    margin-top: 5rem;
    

}
.option{
    justify-content: center;
    align-items: center;
    display: block;
    width: 94%;
    margin: auto;
    margin: 12px;
    
    
}
.options .answer .option:hover{
   
    background-color: #faebd7;

}
#result{
    text-align: center;
}

.question{
    border-radius: 50px;
    text-align: center;
    margin:1rem;
}

#quizBox .title{
    display: flex;
    justify-content: center;
    margin:1rem;

}
.title h1{
    margin-top: 1rem;
}
.timer{
    height:40px;
    width:25rem;
    margin:4rem;
    background-color: #1a1a1a;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center; 
    border-radius:  50px;

    
}
.timer img{
    height: 30px;
    width:30px;
    margin-left: auto;
    margin-right: 10px;
    filter:invert(100%);
    
    
    
    
}
.timeBar{
    height:40px;
    width:10rem;
   
    background: linear-gradient(#1a1a1a,#EE8E6B);
    
    border-radius:  50px;

}
.questionWrap{
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin:4rem;
    

}
.questionsNum h1{
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin:1rem;
}
.questionsNum span{
    font-size: 32px;
    display: flex;
    justify-content: center;
    margin:1rem;

}
.options{
    font-size: 15px;
    
   
}
.options .answers #answer{
   
    
    
    word-break: break-all;
    white-space: pre-wrap;
   
    cursor: pointer;
    border-style: solid;
    border-radius: 50px;
    padding: 1rem;
    margin: 5px;
    
  
}
.options .answers #answer:hover{
    background-color: #faebd7;

}
.quitQuiz{
    
    align-items: center;
     justify-content: center;
     display: flex;
     margin: auto;
     text-align: center;
     
     
}
.exit{
    
    margin:1rem;
    display: flex;
    justify-content: center;
    
   
 
    

}





/* end of quiz  */

/* score input*/
#box2{
    display: none;
}
.welcomeBox2{
   
    background: linear-gradient(#f35058,#1a1a1a);
    height: 15rem;
    width: 30rem;
    border-radius: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
   
    
    

}
.welcomeBox2:hover{
    border-style: solid;

}
.welcome2{
    margin:0;
    padding:0;
    position: absolute;
}

.welcomeBox2 h1{
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 24px;
    margin-top: 1rem;
    
    
    
}

.welcomeInfo2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    
}
.info2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.playQuiz2{
position: relative;
align-items: center;
    display: flex;
     align-items: center;
     justify-content: center;
     height: 15rem;
     

}

.t2{
    position: absolute;
    bottom:0%;
    
    

}

button{
    width:8rem;
    height: 2.5rem;
    border-radius: 50px;
    background: linear-gradient(#f35058,#1a1a1a);
    font-size: 18px;
    border-style: none;
    cursor: pointer;
    margin: 1rem;
    

}
button:hover{
    border-style: solid;
}

